body {
    background-color: #CDDEFF
  }

hr{
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    align-self: center;
    width: 10%;
  }

h1{
  color: #66BFBF;
}

h3{
  color: #66BFBF
}

.contact{
   color: red;
}

#email{
  color: cyan;
}
